@charset "UTF-8";
body{
    color:rgb(77, 43, 19);
    margin: 0 auto;
}
img{
    width:100%;
}
header{
    height:100px;
}
header h1{
    margin: 50px auto 50px 20px;
}
span{
    color:crimson;
}
.wrapper{
    width: 80%;
    max-width: 1080px;
    margin: 75px auto;
}
.wrapper h2{
    text-align: center;
    margin-bottom: 30px;
}
#arasuji p{
    margin-top: 30px;
    text-align: justify;
}
#tyuuigaki ul{
    list-style: none;
    margin-bottom: 30%;
}
footer{
    background-color:#553612;
    width: 100%;
    margin-bottom: 0;
}
footer p{
    color: #fff;
    padding-top 20px;
    padding-bottom 20px;
    text-align: center;
}
#page-top{
    margin-bottom: 30px;
    margin-left: 90%;
    background-color: #503313;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#page-top a{
    font-size: 30px;
    display: block;
    color: #fff;
    padding: 1px 10px;
}
